body {
font-family: "M PLUS Rounded 1c", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, "Hiragino Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 1rem; color: #2f2f2f; line-height: 1.8; overflow-wrap: break-word; -webkit-font-smoothing: antialiased;
}
