html,body,pre,form,input {
    font-family: 'Yu Gothic UI','ヒラギノ角ゴシック','Hiragino Sans','Osaka',YuGothic,'Yu Gothic','Arial','Avenir','メイリオ', Meiryo,'Meiryo UI','Ebrima',sans-serif;
    text-align: center;
    }
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.main {
    width: 65%;
    padding: 10px;
}
.side {
    background-color: #ededed;
    width: 35%;
    padding: 10px;
}
.side-sp {
    /*position: fixed;
    bottom: 0;*/
    background-color: #ededed;
}
pre {
      font-size: 12.5px;
}
#pc { display:block; }
#sp { display:none; }
  
@media only screen and (max-width : 767px){
    #pc { display:none; }
    #sp { display:block; }
}
input[type="search"] {
    border: 0;
    background-color: silver;
    border-radius: 30px;
    width: 83%;
    border-bottom: solid 6px #f1f1f1;
    padding: 0.5em 1em;
    margin: 2em 0;
}
input[type="submit"] {
    cursor: pointer;
    border: 0;
    background-color: #f1f1f1;
    border-radius: 30px;
    width: 15%;
    border-bottom: solid 6px silver;
}
pre {
    font-size: 12.5px;
}
h1 {
	font-size:1.5em;
	margin:0;
	padding:0.2em;
}
.despbold {
	background-color:yellow;
	font-weight:bold;
}
.datefmt {
	font-size:0.6em;
	margin:0;
	padding:0.1em;
}
.hit_text {
	font-size:1em;
	margin:0;
	margin-inline:0;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.search_result {
	width:100%;
	margin-bottom:2em;
	border:dashed 1px gray;
}
.url {
font-size:0.6em;margin-left:2em;
}
a {
	color:blue;
	text-decoration:none;
}
